<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411167207929-el1pf4otr0s27k4f3mnl9nflkng6qvs2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411167207929-el1pf4otr0s27k4f3mnl9nflkng6qvs2</string>
	<key>API_KEY</key>
	<string>AIzaSyCCzFYZeKpgT2s0Jm9HgS5osRQTOEWR1GA</string>
	<key>GCM_SENDER_ID</key>
	<string>411167207929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.github.kornosky.kanda</string>
	<key>PROJECT_ID</key>
	<string>kanda-3f009</string>
	<key>STORAGE_BUCKET</key>
	<string>kanda-3f009.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411167207929:ios:ecf3abd12ae117920e8d28</string>
</dict>
</plist>